*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

@media (min-width:320px){

body{
    margin: 0;    
    }
/* TOTAL DEL GRID PARA ARMAR TODO */
.content_grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  auto auto auto;
    grid-template-areas: 
    "header" 
    "main" 
    "section"
    "footer" 
}

.header{
    grid-area: header;
    grid-template-columns: 1fr;    
    border-bottom: 1px solid orange;
    margin-top: 2rem;
    background: linear-gradient(to right lightgrey, black);

}

.header div{
    margin-left: 8rem;
    width: 300px;
}

.header__img{
    margin-top: 0.5rem;
    width: 20%;
    padding-top: 0.5rem;
}

.header__ul{
    visibility: hidden;
}

main{
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    width: 69.9%;
    padding: 0.5rem;
}

main h1{
    padding:0 0 0.5rem 0;
}

main p{
    text-align: center;
    margin-left: 10px;
    padding:0 0 0.5rem 0 ;}
}

.main__img{
    width: 80%;
    padding: 1rem 0 0.5rem 0 ;
}

.main__nos{
    grid-area: main;
    margin-left: 3rem;
    width: 200px;
    font-size: small;
}

.main__figure{
    margin-left: 4rem;
    width: 400px;
}
.main__nosimg{
    width: 200px;
}

.main__text{
    font-size: x-small;
    width: 220px;
    margin-left: 4rem;
    margin-bottom: 2rem;
    text-align: start;
}

.main__text h1{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* STYLE BOTTON */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: small;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}
.info{
    grid-area: section;
    grid-template-columns: 1 fr; 
    width: 70%;
    font-size: xx-small;
    text-align: center;
    margin-top: 1rem;
}

.info h1{
    text-align: center;
    width: 40%;
    padding:0 0 0.5rem 0;
}

section h2{
    text-align: center;
}

.info div img{
    width: 70%;
    margin-top: 1rem;
}

.info button{
    font-size: small;
    margin-bottom: 2rem;
}
.footer{ /* FOOTER MOBILE */
    width: 100%;
    grid-area: footer;
    border-top: 1px solid orange;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
}

.footer__img img{
    text-align: center;
    vertical-align: middle;
    padding: 1px 18px;
    margin: 0.5rem 0;
    width: 50px;
}

.footer__copy{
    font-size: xx-small;
}
/*NOMBRES A LAS AREAS*/
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.section {
    grid-area: section;
}
.footer {
    grid-area: footer;
}

@media (min-width:768px) {

    /* TOTAL DEL GRID PARA ARMAR TODO */
    .content_grid{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:  auto auto auto ;
        grid-template-areas: 
        "header header" 
        "main main" 
        "section section"
        "footer footer" 
    }
    
    .header{
        top: 0;
        position: sticky;
        padding-bottom: 1rem;
        grid-area: header;
        align-items: center;
        text-align: center; 
        display: flex;
        justify-content: space-between;
    
    }

    .header div{
        margin-left: 5rem;
    }
    
    .header__img{
        width: 13.0%;
        margin-right: 15rem;
    }
    
    .header__nav{
        font-size: 15px;

    }
    .header__ul{
        visibility:visible;
        display: flex;
    }
    
    .header__li{
        padding: 10px;
        text-transform: uppercase;
        list-style-type: none;
        font-size: xx-small;
        border: none; /* lo saco e igual aparece */
    }


    .main{
        width: 95%;
    }

    .main__nos{
        width: 620px;
    }

    .main__text{
        font-size: small;    
    }

    .section__nos{
        margin-left: 14rem;
    }
    /* STYLE BOTTON */
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        margin-top: 1rem;
    }
    
    button.learn-more {
        width: 12rem;
        height: auto;
    }
    
    button.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #282936;
        border-radius: 1.625rem;
    }
    
    button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
    
    button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }
    
    button.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }
    
    button.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 2rem;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-weight: small;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
    
    button:hover .circle {
        width: 100%;
    }
    
    button:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
    }
    
    button:hover .button-text {
        color: #fff;
    }
    .info{
        grid-area: section;
        width: 41.7%;
        justify-self: center;
    }
    
    .footer{ /* FOOTER TABLET */
        grid-area: footer;
    }
    
    .footer img{
        width: 70px;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-bottom: 0.5rem;
    }

    .footer__img{
        margin-left: 2rem;
        vertical-align: middle;
        padding: 1px 18px;
        margin: 0.5rem 0;
    }

    
    .footer div{
        text-align: center;
        font-size: medium;
        margin-left: -4.8rem;
    }
    
}

@media (min-width:1200px) {

    .content_grid{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows:  auto auto auto;
        grid-template-areas: 
        "header header header" 
        "main main main" 
        "section section section"
        "footer footer footer" 
    }

    .header{
        padding-right: 5rem;
    }

    .header__nav{
        font-size: 25px;

    }

    .main{
        margin-left: 10rem;
    }

    .main__img{
        width: 50%;
    }

    .main__nos {
        width: 1008px;
        margin-bottom: 2rem;
    }
    
    .main__nos p{
        font-size: large;
    }

    .section__nos{
        margin-left: 25rem;
    }

    .main__text{
        text-align: start;
    }


}